@charset "UTF-8";
/* 게시글 쓰기 */
/* article { margin: 10px 0px;} */
html {
    scroll-behavior: smooth;
}
.board {
	width: 800px;	height: 900px;
	margin: 10px auto;
	top: 100px;
}
.write-article {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    
    display: grid;
    grid-auto-columns: 80px auto;
    grid-template-rows: 30px auto;
    border-radius: 4px;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-bottom: 5px; 
    
}
.write-header {
    grid-column-start: 1;
    grid-column-end: 3;
    
    border-radius: 2px 2px 0px 0px;
    background: #2980b9;
    color: white;
    
    line-height: 30px;
    padding-left: 10px;
    
    font-weight: bold;
}
.write-profile-img {
    width: 60px;
    height: 60px;
    border: 2px solid #DDF3F5;
    border-radius: 30px;
    margin: 10px;
    background-size: contain;
}
.write-textbox {
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    border: 2px solid #DDF3F5;
    border-radius: 4px;
}
.write-textbox textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
}

.write-btn {
	display: none;
	grid-column-start: 1;
    grid-column-end: 3;
    
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 4px;
    background: #2980b9;
    cursor: pointer;
}

/* 게시글 내용 */
.container-board {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
	width: 60vw;
}
#list_board {
	display: flex;
    flex-direction: column;
}
.read-article {
    display: grid;
    grid-template-columns: 80px 200px auto;
    grid-template-rows: 80px auto 50px ;

    border-radius: 4px;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin: 5px 0px;
    
    width: 100%;
    max-width: 800px;
    min-width: 400px;
}
.read-profile-img {
    width: 60px;
    height: 60px;
    border: 2px solid #DDF3F5;
    border-radius: 30px;
    margin: 10px;
    box-sizing: border-box;
}
.read-box {
    width: 100%;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 4;
    
    box-sizing: border-box;
    padding: 10px 10px 20px;
    border-bottom: 1px solid #DDF3F5;
}
.read-it {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #5f6770;
    font-weight: bold;
    border-bottom: 1px solid #DDF3F5;
}
.comment-area {
    display: none;
	grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px;
}
.read-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.read-info span{
    margin: 5px 0px;
}
.read-name {
	color: #2980b9;
	font-weight: bold;
}
.read-time {
	font-size: 14px;
}
.read-context {
    width: 100%;
}
.read-emotion, .read-comment {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.read-emotion-icon, .read-comment-icon{
	width: 25px;
	height: 25px;
    margin-right: 5px
}
.read-emotion-icon {
	background: url('../board_img/emoticon.jpg');
	background-size: 25px;
}
.read-comment-icon {
	background: url('../board_img/comment.png');
	background-size: 25px;
}
.read-menu {
	display: flex;
	flex-direction: row-reverse;
	padding: 10px;	
}
.read-menu-icon {
	width: 25px;
	height: 25px;
	background: url('../board_img/menu.png');
	background-size: 25px;
	cursor: pointer;
	
}
.read-menu-list {
	position: absolute;
	width: 150px;
	z-index: 2;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.read-menu-list div {
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
.read-menu-list div:hover {
	background-color: #2980b9;
	color: white;
}

/* 일정  */
.board-planCheck {
    background-color: #DDF3F5;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-top: 20px;
    border-radius: 4px;
}
.plan-simple {
    width: 100%;
    margin: 0px 20px;
}
.plan-simple div {
	margin: 10px 0px;

}
.plan-simple-title {
    font-weight: bold;
}
.plan-simple-date {
	font-weight: bold;
    color: darkgrey;
}
.cal-icon #fa-cal-alt, #fa-ti-cancel{
	margin-bottom: 0px;
}

.cal-icon #fa-ti-cancel{
	margin-bottom: 0px;
}
/* 댓글  */
.comment-read {
}
.comment-write {
    min-height: 30px;
    padding: 5px;
    border: 1px solid #2980b9;
    border-radius: 15px;
    background-color: #DDF3F5;
    overflow: auto;
    font-size: 16px;
    line-height: 15px;
}
.comment-list {
	margin: 20px 0px;	
	min-height: 30px;
	box-sizing: content-box;
}
.comment-img {
	width: 30px;
	min-width: 30px;
	height: 30px;
	
    border: 2px solid #DDF3F5;
    border-radius: 20px;
    background-size: contain;
}
.comment-context {
    line-height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0px 10px;
    margin: 0px 10px;
    min-width: 100px;
    background-color: #DDF3F5;
    word-break: break-all;
}
.comment-writer {
	color: #2980B9;
    font-weight: bold;
}
.comment-box {
	display: flex;
    margin: 5px 0px;
}
.comment-time, .comment-cancle {
	font-size: 14px;
    padding-left: 40px;
}
.comment-more {
	font-size: 14px;
	margin: 10px 0px;
	cursor: pointer;
}
.comment-more:hover {
	color: #2980B9;
    font-weight: bold;
}
.commentMenu-img{
	width: 10px;
	min-width: 10px;
    height: 30px;
	cursor: pointer;
}
.comment-box:hover .commentMenu-img{
	width: 10px;
    height: 30px;
    background-color: #DDF3F5;
    border-radius: 10px;
    cursor: pointer;
}
.comment-menu-list {
	position: absolute;
	width: 150px;
	z-index: 2;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.comment-menu-list div:hover {
	background-color: #2980b9;
	color: white;
}
.comment-menu-list div {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.comment-update-write{
    width: 100%;
    border: 1px solid #2980b9;
    border-radius: 15px;
    line-height: 30px;
    background-color: #DDF3F5;
    padding-left: 5px;
    margin-left: 10px;
}
.noComment {
    margin: 10px 0px;
    text-align: center;
}
/* 공지사항 */
.notice-list {
	display: none;
    background-color: #22C7B0;
    border-radius: 4px;
    padding: 0px 10px;
    margin: 5px 0px;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
}
.notice-title {
    color: white;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
}
.notice {
	margin: 10px 0px;
	min-width: 300px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;	
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Calenda */
/* icon */
.write-function-icon{
    display: none;
	margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.write-function-area {
	max-width: 800px;
    min-width: 400px;
	width: 100%;
	display: none;
	background-color: white;
	border-radius: 4px;
	z-index: 2;
	margin: 5px 0px;
}
#fa-cal-alt, #fa-clk, #fa-ali-lef, #fa-ti-cancel, .fa-image, .fa-paperclip{
	margin-bottom: 10px;
    font-size: 25px;
    color: #2980b9;
    cursor: pointer;
}
.group-calenda {
	margin-top: 10px;
	border: 1px solid #EAEAEA;
	border-radius: 4px;
	height: 300px; 
	cursor: pointer;
}