@charset "utf-8";

.calendar-setting-container{
	padding: 20px;
	flex-direction: column;
}

/* ------- */

#listModal{
	display: none; /*Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* -------------------캘린더--------------------- */


#calendar_div{
	width: 100%;
	height: 600px;
/* 	border: 1px solid #a8a8a8; */
	display: block;
	margin: auto;
}

.design-div{
	width: 150px;
	height: 10px;
	border: 1px solid black; 
	margin-left: 10px;
	background-color: blue;
}

#calendar_main{
	width: 100%;
	height: 600px;
	margin: auto;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* ------------------------------------------- */

.calendar{
	width: 100%;
	height: 600px;
}

#todoList{
	width: 300px;
	height: 400px;
	border-radius: 3px;
	margin: auto;
	z-index: 2;
	background-color: rgba(255, 255, 255);
	padding: 10px;
}

/* ---------------*/

.calendar_change{
	text-align: center;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
}

#current_year_month{
	width: 60%;
	height: 60px;
	line-height: 60px;
	font-size: 20pt;
	font-weight: bolder;
	display: inline-flex;
	align-content: center;
	justify-content: flex-start;
	padding: 5px;
}

#current_year{
	margin-left: 5px;
}

.calBoxes{
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
	height: 60px;
	float: right;
}

#calBtns{
	display: inline-flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 30px;
}

.change-cal-hide{
	display: inline-flex;
	justify-content: flex-end;
	align-content: flex-end;
	width: 100%;
	height: 20px;
	margin-top: 5px;
	border-radius: 15px;
}
.change-cal-date{
	width: 130px;
	border-radius: 5px;
}
.change-cal-date:hover{ cursor: pointer; };

.change-cal-move{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 3pt;
}

#prev{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 20px;
	font-size: 25px;
}
#today{
	width: 60px;
	height: 30px;
	font-size: 12pt;
	text-align: center;
	line-height: 30px;
	font-weight: bolder;
	margin-right: 20px;
	background-color: black;
	color: white;
	border-radius: 5px;
}
#next{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
}

#prev:hover{
	cursor: pointer;
	
}
#today:hover{
	cursor: pointer;
	background-color: #BDBDBD;
	background: none;
	border: 1px solid black;
}

#today:hover{
	cursor: pointer;
	background-color: #BDBDBD;
}
#next{
	cursor: pointer;
}
/* ------------------------------- */

#calendar_week {
	margin: auto;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	height: 480px;
	display: block;
}

.weekName_table{
	width: 100%;
	height: 30px;
	margin: 0px;
	margin-top: 5px;
	text-align: center;
	font-size: 15pt;
	font-weight: bolder;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

#weekName_tbody{
	height: auto;
	text-align: center;
}

.weekName td{
	height: 30px;
	line-height: 30px;
}

.sun{ color: red; }
.sat{ color: blue; }


#calendar_date{
	width: 100%;
}

#calendar_date tr td{
	cursor: pointer;
	text-align: left;
	width: 115px;
	height: 82px;
	padding: 5px;
}

#calendar_date tr td #cntdiv{margin-bottom: 5px; padding: 0 5px 0 5px;}

#calendar_date tr td #cntdiv #cntspan{font-size: 15pt;}

#calendar_date tr td #miniList{
	font-size: 5px;
	height: 15px;
	background-color: #B2CCFF;
	margin-bottom: 2px;
}
#calendar_date tr td #another{
	text-align: center;
	font-size: 10px;
	font-weight: bolder;
	height: 15px;
}

#calendar_date tr td:hover{ background-color: #EAEAEA; }

.active{ background-color: #BDBDBD; }

/* ------------Mini-------------- */

.mini{
	width: 100%;
	height: 100px;
	margin: auto;
	text-align: center;
}
.mini:hover{
	cursor: pointer;
}

#mini_day{
	display: inline-block;
	font-size: 10pt;
	height: 15px;
	vertical-align: text-bottom;
}
#mini_date{
	display: inline-block;
	font-size: 13pt;
	font-weight: bolder;
	width: 85px;
	height: 20px;
}

/* --------------------------------- */

#checkList:checked:#todo{
	text-decoration: line-through;
}

#plus{
	margin: auto;
	width: 40px;
	height: 40px;
	float: right;
	font-size: 40px;
	color: #939393;
}

#showList{
	margin: auto;
	width: 100%;
	display: block;
}

#loadList{
	margin: auto;
	width: 100%;
	height: 289px;
	display: block;
}

#addList{
	margin: auto;
	width: 100%;
	display: none;
	padding: 10px;
}

#updateList{
	margin: auto;
	width: 100%;
	display: none;
	padding: 10px;
}

.Btns{
	width: 50px;
	height: 30px;
/* 	border: 1px solid black; */
}

.postInfo:hover {
	cursor: pointer;	
}

#deleteBtn{ display: none; }

#selectBtn{
	display: none;
	margin-left: 10px;
}
#selectBtn:hover{ cursor: pointer; }
#updateBtn{ 
	display: none;
	margin-left: 10px;
 }
#updateBtn:hover{ cursor: pointer; }
#listBtn{ display: none; }
#listBtn:hover{ display: none; }

#listhd{
	height: 40px;
	width: 100%;
	padding: 8px;
	border-bottom: 2px solid black;
}

#dateDiv{
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-end;
}

#BtnDiv {
	height: 20px;
	display: inline-flex;
	float: right;
	justify-content: flex-end;
}

#noList{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px; 
	height: 30px;
	padding: 5px;
}

#doList {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px; 
	height: 30px;
	padding: 5px 40px 5px 5px;
}
#doList:hover{ cursor: pointer; }

#checkList{
	width: 20px;
	height: 20px;
}


#todo{ 
	margin-left: 10px;  
	width: 100%;
	font-size: 13pt;
}

#todo:hover{
	background-color: #BDBDBD;
	cursor: pointer
}

/* ------------------------ */

#addForm div{ margin-top: 10px; }
#updateForm div{ margin-top: 10px; }

.titleBox{
	width: 80%;
	height: 40px;
	display: flex; 
 	border: 1px solid #8080804d;
 	margin: auto;
}

.contextBox{
	display: flex;
 	justify-content: flex-start;
}

.cotIcon{
	margin-right: 15px;
}

.cotArea{
	width: 100%;
	height: 100px;
	border: 0.5px solid #8080804d;
	margin-right: 25px;
}

.Title{
	width: 100%;
	height: auto;
	line-height : normal; 
	padding: .3em .3em;
	border: none;
}

.RegDate{
	width: 110px;
	height: 25px;
}

.RegTime{
	width: 110px;
	height: 25px;
}

.ContextArea{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
    scrollbar-width: none;
	resize: none;
	border: none;
	line-height : normal; 
	padding: .3em .3em;
}

.ContextArea::-webkit-scrollbar {display: none;}

.BtnBoxes{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.BtnBoxes input{
	background-color: black;
	border: none;
	border-radius: 5px;
	color: white;
}
.uptBtnBoxes input{
	width: 45px;
	height: 25px;
	background-color: black;
	border: none;
	border-radius: 5px;
	color: white;
}
.uptBtnBoxes{
	width: 45px;
	height: 25px;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	display: none;
	justify-content: center;
	align-items: flex-end;
}

.cancelBox{ margin-right: 100px; }

#title:focus::-webkit-input-placeholder {
  color: transparent;
}
#title:focus::-moz-placeholder {
  color: transparent;
}
#title:focus:-ms-input-placeholder {
  color: transparent;
}
#title:focus::-ms-input-placeholder {
  color: transparent;
}

#context:focus::-webkit-input-placeholder {
  color: transparent;
}
#context:focus::-moz-placeholder {
  color: transparent;
}
#context:focus:-ms-input-placeholder {
  color: transparent;
}
#context:focus::-ms-input-placeholder {
  color: transparent;
}











