header {
	height: 75px;
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 9;
	top : 0;
}

.header-wrapper {
	width: 60vw;
	min-width: 480px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.searchForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 300px;
}

.searchForm__logo {
	height: 52px;
	margin-right: 20px;
	cursor: pointer;
}

.searchForm-wrapper {
	width: 25vw;
	min-width: 300px;
	border: 3px solid #2980b9;
	border-radius: 25px;
	padding: 7px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchForm__text {
	width: 100%;
	border: none;
}

.searchForm-wrapper i {
	color: #2980b9;
	font-size: 19px;
	margin-right: 10px;
	cursor: pointer;
}

header .profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

header .profile .profile__pic {
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}

header .profile .profile__pic img {
	max-width: 100%;
	height: auto;
}

header .profile i {
	font-size: 20px;
}

header .profile .profile__menu {
	cursor: pointer;
}

header .profile .profile__menu:hover {
	transform: scale(1.2);
}

header .profile .profile__menus {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
	top: 55px;
	left: 1vw;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
}

header .profile .profile__menus a {
	color: black;
	padding: 10px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	font-weight: 600;
	border-radius: 5px;
}

header .profile .profile__menus a:hover {
	background: linear-gradient(to right, #2980b9, #2c3e50);
	color: white;
	transition: all 0.3s;
}

header .profile .show {
	display: block;
}