.thumbnail-wrappper {
	width: 25%;
	min-width: 200px;
}

.thumbnail {
	position: relative;
	padding-top: 100%; /* 1:1 ratio */
	overflow: hidden;
}

/*main - thumnail*/
.main-main .main-wrapper .container .study-img .thumbnail {
	padding-top : 85%;
}


.thumbnail .centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.thumbnail .centered img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main-main .groupList .teamTitle {
	font-size: 1.1rem;
}

.studyBtns {
	min-width: 135px;
}

/* HashTag */
.hashTag-wrapper {
	width : 100%;
	align-items: center;
	margin-bottom: 5px;
}

.hashTag-title {
	background-color: #009dff;
	color: white;
	width: 53px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 0.7rem;
	text-align: left;
	padding-left: 2px;
	line-height: 14px;
	margin-right: 5px;
	display: inline-flex;
}

.hashTagForm {
	width: 60px;
	border: 1px solid #919191;
	border-radius: 2px;
	font-size: 0.8rem;
	padding-left: 3px;
}

.hashTag__context {
	height: 100%;
	font-size: 0.9rem;
}

.hashTag {
	display: inline-flex;
	align-items: center;
	opacity: 0.8;
	white-space: nowrap;
}

.hashTag .hashTag__value {
	font-size: 0.85rem;
	margin-right: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.deleteHashTag {
	font-size: 0.7rem;
	color: red;
	font-weight: bolder;
	margin-right: 5px;
	cursor: pointer;
}

/* manage button */
.main-main .groupList button {
	padding: 2px 16px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.main-main .groupList button:hover {
	background-color: #555555;
    color: white;
}



