@import "reset.css";

@import "home.css";

@import "header.css";

@import "signup.css";

@import "main.css";

@import "myprofile.css";

@import "searchpw.css";

@import "makestudy.css";

@import "study.css";

* {
	box-sizing: border-box;
}

body {
	background-color: #eaeaea;
}

.thumbnail-wrappper {
	width: 25%;
}

.thumbnail {
	position: relative;
	padding-top: 100%; /* 1:1 ratio */
	overflow: hidden;
}

.thumbnail .centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.thumbnail .centered img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main-main .groupList .teamTitle{
	font-size : 1.5rem;
}